<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.automationpractice.listener.ListenerClass"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Users/keert/IdeaProjects/AutomationPractice/src/test/java/com/automationpractice/tests/TestRegisterUser.java">
        <classes>
            <class name="com.automationpractice.tests.TestRegisterUser">
            </class>
        </classes>
    </test>
</suite>